.navLinks {
  display: flex;
  gap: 32px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--main-color);
}

.navLinks li a:link,
a:visited {
  color: var(--main-color);
}

.navLinks li a.isActive {
  color: var(--navigation-link-active-color);
}
