.heroHeader {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 0.66667;
  color: var(--hero-text-color);
}

.heroSubHeader {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: var(--hero-text-color);
}

.heroText {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
