.header {
  border-bottom: 1px solid var(--header-border-color);
  padding: 24px 64px;
  height: 72px;
  background: var(--header-background-color);
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.wrapper {
  display: flex;
  gap: 450px;
  align-items: center;
  position: relative;
}

.logo {
  position: absolute;
  top: 0;
  left: var(--default-padding);
  display: inline-flex;
  height: 100%;
  align-items: center;
}
